<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Stripe Test</title>
</head>
<body>
    <div>
        <a href="{{ url_for('create_checkout_session') }}">Another payment</a>
        <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
        <img src="https://i.imgur.com/EHyR2nP.png">
        <img src="https://images.unsplash.com/photo-1665665116258-b31fc3b619a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80">
    </div>
</body>
</html>